---
import { Moon, FileDown } from "@lucide/astro";
import { navItems } from "src/lib/constants";

import { Sidebar } from "src/components/Sidebar";
import LanguageMenu from "src/components/LanguageMenu.astro";
---

<header
  id="header"
  class="fixed top-0 left-0 right-0 z-20 header-scroll-effect"
>
  <nav
    class="flex py-2 md:py-4 px-4 justify-between items-center gap-4 font-mono w-full md:pr-8 md:before:content-[''] md:before:border-b md:before:border-slate-300 md:before:w-full hide-line-effect"
  >
    <ul class="hidden md:flex justify-end items-center gap-6 lg:gap-10 lg:pl-8">
      {
        navItems.map((item) => (
          <li>
            <a
              href={`#${item.id}`}
              class="hover:text-blue-500 hover:border-b-4 hover:border-blue-500 pb-2"
            >
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>

    <span class="hidden md:block border-l h-6 border-slate-300"></span>

    <ul
      class="hidden md:flex justify-end items-center gap-4 py-4 text-slate-700"
    >
      <Moon class="hover:text-blue-500 cursor-pointer" />
      <li>
        <LanguageMenu />
      </li>
    </ul>

    <button
      class="bg-slate-700 text-white px-5 py-2.5 rounded-full flex gap-2 items-center shrink-0 hover:bg-blue-500 cursor-pointer active:transform active:scale-95"
    >
      <FileDown class="w-5 h-5" />
      Download CV
    </button>

    <div class="flex items-center gap-4">
      <Moon
        class="md:hidden hover:text-blue-500 cursor-pointer size-9 stroke-2"
      />
      <Sidebar client:visible />
    </div>
  </nav>
</header>
