<section id="testimonials" class="w-full flex justify-center bg-white py-18">
  <div class="w-full flex flex-col items-center max-w-5xl px-4 gap-16">
    <h2 class="text-5xl font-bold text-slate-600">Testimonials</h2>
  </div>
</section>
