---
import type { Testimonial } from "../types/index.tsx";
import TestimonialCarousel from "../components/TestimonialsCarousel.tsx";

const testimonials: Testimonial[] = [
  {
    quote:
      "I had the opportunity to work with Marcelo and can highlight his high level of responsibility and commitment in every project. He is characterized by his proactivity and willingness to take on new challenges, always adding value to the team.",
    name: "Ignacio Femenia",
    title: "Operations Specialist",
    company: "Accenture",
    avatarSrc: "/images/testimonials-ignacio-avatar.webp",
    companyLogo: "/images/accenture-logo.webp",
  },
  {
    quote:
      "I have known Marcelo for many years, and I have no doubt that he is one of the most professional individuals I have ever met. His transparency, precision, and analytical skills when solving problems are truly outstanding. He has an impeccable track record.",
    name: "Juan Enrrique Barranco Sanz",
    title: "Cybersecurity Recruitment Specialist",
    company: "Gaucho Sec",
    avatarSrc: "/images/testimonials-juan-avatar.webp",
    companyLogo: "/images/gauchosec-logo.webp",
  },
  {
    quote:
      "Marcelo was amazing to work with! He was extremely responsive, professional, and delivered results quickly. I hired him to help debug three different apps across multiple tech stacks (React, Next.js, Supabase, Vercel, etc.), and he successfully solved every issue. What stood out most was his ability to jump in where I was stuck “vibe coding” and efficiently figure things out.",
    name: "Yoel Lapscher",
    title: "CTO",
    company: "TiendaPago",
    avatarSrc: "/images/testimonials-yoel-avatar.webp",
    companyLogo: "/images/tiendapago-logo.webp",
  },
];
---

<section id="testimonials" class="w-full flex justify-center bg-white py-18">
  <div
    class="w-full flex flex-col items-center max-w-5xl px-4 md:px-8 lg:px-0 gap-12"
  >
    <h2 class="text-5xl font-bold text-slate-900 tracking-tight text-center">
      What People Say
    </h2>
    <TestimonialCarousel testimonials={testimonials} client:visible />
  </div>
</section>
